/* ---------------------------- HEADER ---------------------------- */

.main-header-ad-banner {
    /* Default for mobile */
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

@media (min-width: 768px) {

    /* Tablet and up */
    .main-header-ad-banner {
        height: 90px;
        min-height: 90px;
        max-height: 90px;
    }
}

@media (min-width: 1024px) {

    /* Desktop */
    .main-header-ad-banner {
        height: 120px;
        min-height: 120px;
        max-height: 120px;
    }
}

/* ---------------------------- APP BAR ---------------------------- */

.app-bar-margin {
    margin-top: 56px;
}

@media (min-width: 600px) {

    /* MUI 900 & up */
    .app-bar-margin {
        margin-top: 64px;
    }
}

@media (min-width: 900px) {

    /* MUI 900 & up */
    .app-bar-margin {
        margin-top: 68.5px;
    }
}

/* ---------------------------- BOOTSTRAP XL SIZE ---------------------------- */
@media (min-width: 1200px) {
  .main-footer-border {
    border-right: 2px solid #c5c5c5;
  }
}

/* ---------------------------- SCROLL SNAP ----------------------------------- */

.sidebar-left-library-modal-content {
    scroll-snap-type: y mandatory;
}

.sidebar-left-library-modal-snap-item {
  scroll-snap-align: start;
}

/* ---------------------------- FOOTER ---------------------------------------- */

.footer-links {
    color: black;
}

.footer-links:hover {
    color: red;
}